<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ titulo }}</h3>
    </div>
    <div class="card-body">
        <ng-container *ngTemplateOutlet="innTemplate">
            <ng-template #innTemplate>
            </ng-template>
        </ng-container>
    </div>
</div>