<!-- <span><button  (click)="invokeParentMethod()" class="btn btn-info">Editar</button></span> {{label}}&nbsp;-->
<!-- <button type="button" (click)="onClick($event)" class="btn btn-info">{{label}}</button> -->
<button *ngIf="label === 'Editar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-info btn-block'"><i [class]="iconEdit"></i></button>
<button *ngIf="label === 'Eliminar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-danger btn-block'"><i [class]="iconDelete"></i></button>
<button *ngIf="label === 'Ver'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-info btn-block'">{{label}}&nbsp;<i [class]="iconVer"></i></button>
<button *ngIf="label === 'Seleccionar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-primary btn-block'">{{label}}&nbsp;<i [class]="iconSelect"></i></button>
<button *ngIf="label === 'Graficar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-primary btn-block'">{{label}}&nbsp;<i [class]="iconGraphi"></i></button>
<button *ngIf="label === 'Agregar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-success btn-block'"><i [class]="iconAdd"></i></button>
<!-- inicio -->
<button *ngIf="label === 'Procesar'" type="button" (click)="onClick($event)" [ngClass]="'btn btn-success btn-block'"><i [class]="iconProcess"></i></button>
<!-- fin -->
<button *ngIf="label != 'Editar' && label != 'Eliminar' && label != 'Ver' && label != 'Seleccionar' && label != 'Graficar' && label != 'Agregar'" type="button" (click)="onClick($event)" [ngClass]="colorBoton">{{label}}</button>
<!-- [ngClass]="colorBoton" -->