<button class="btn btn-success btn-block" data-backdrop="static" [id]="idButton" hidden="true" data-toggle="modal" [attr.data-target]="'#'+ idOpen"></button>
<div class="modal fade" [id]="idOpen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header {{ classHeader }}">
        <h5 class="modal-title" id="exampleModalLabel"> <i class="fa fa-edit"></i>{{ titulo }}</h5>
        <button type="button" [id]="idClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngTemplateOutlet="innTemplate">
          <ng-template #innTemplate>
            
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</div>