<br><br>
<div class="container">
  <div class="card card-personalizada">
    <div class="card-body">
      <h5 class="card-title">Listado Pokemon</h5>
      <div class="row">
        <div class="col-md-4">
          <input [(ngModel)]="textoBuscarEvento" (keyup)="keyUp()" type="text" placeholder="Buscar">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <button class="btn btn-success btn-block" (click)="nuevo()">Nuevo</button>
        </div>
      </div>
      <div id="mitabla">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Imagen</th>
              <th>Tipo</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pokemon of rowData; let i = index">
              <th> {{ pokemon.id}} </th>
              <td> {{ pokemon.name }} </td>
              <td><img *ngIf="pokemon.image" [src]="pokemon.image" alt="" style="width: 60px;height: 60px;"></td>
              <td> {{ pokemon.type }}</td>
              <td>
                <button class="btn btn-primary" (click)="editar(pokemon)">Editar</button>
                <button class="btn btn-danger" (click)="eliminar(pokemon)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card w-100">
    <div class="card-body">
      <h5>Nuevo Pokemon</h5>
      <form [formGroup]="formulario" novalidate class="form-group">
        <div class="row">
          <div class="col-md-6">
            <app-input [control]="formulario.get('name')" formControlName="name" [placeholder]="'Nombre'"
              [label]="'Nombre'" [id]="'nombre'"></app-input>
          </div>
          <div class="col-md-6">
            <label for="disabledRange" class="form-label">Ataque</label> <a>{{ formulario.get('attack').value }}</a>
            <input type="range" class="form-range" formControlName="attack" min="0" max="100" id="Range">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <app-input [control]="formulario.get('image')" formControlName="image" [placeholder]="'Imagen'"
              [label]="'Imagen'" [id]="'imagen'"></app-input>
          </div>
          <div class="col-md-6">
            <label for="disabledRange" class="form-label">Defensa</label> <a>{{ formulario.get('defense').value }}</a>
            <input type="range" class="form-range" formControlName="defense" min="0" max="100" id="Range">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <app-combo-box [opcion]="'valor'" [idOpcion]="'clave'" [comboBox]="cmbType" formControlName="type"
              [control]="formulario.get('type')" [label]="'Tipo'" [id]="'type'"></app-combo-box>
          </div>
          <div class="col-md-6">
            <app-input [control]="formulario.get('hp')" formControlName="hp" [placeholder]="'HP'" [label]="'HP'"
              [id]="'hp'"></app-input>
          </div>
        </div>
        <br>
        <div class="row">
          <button [disabled]="formulario.invalid" class="btn btn-success" (click)="accion()">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>