
<!-- <div class="form-group  col-md-6 " ></div> -->
    <!-- <img *ngIf="mostrarImg" [src]="rutaImagen" height="35" width="35" alt="">&nbsp;<label for={{id}} [class]="claseLabel">{{label}}</label> -->
    <img *ngIf="mostrarImg" [src]="rutaImagen" height="35" width="35" alt=""><label for={{id}} [class]="claseLabel">{{label}}</label>
    <input [ngClass]="{'is-invalid': control.invalid && control.dirty, 'is-valid': control.valid}" [type]="type" class="form-control" [id]="id" [placeholder]="placeholder" [readonly]="!!isReadOnly" [(ngModel)]="value" required>

    <app-error-msg [control]="control" [label]="label"></app-error-msg>
