<div *ngIf="control?.errors && control?.dirty">
    <small class="letrasDanger" *ngIf="control?.hasError('required')">*El elemento {{label}} es requerido</small>
    <small class="letrasDanger" *ngIf="control?.errors.maxlength">*Caracteres maximos permitidos ({{control?.errors.maxlength.actualLength}}/{{control?.errors.maxlength.requiredLength}})</small>
    <small class="letrasDanger" *ngIf="control?.errors.minlength">*Caracteres minimos permitidos ({{control?.errors.minlength.actualLength}}/{{control?.errors.minlength.requiredLength}})</small>
    <small class="letrasDanger" *ngIf="control?.hasError('email')">*El correo electronico indicado no es valido.</small>
    <small class="letrasDanger" *ngIf="control?.hasError('pattern')">*No se permiten puntos(.) ni guiones(-)</small>
    <small class="letrasDanger" *ngIf="control?.errors.min">*No se aceptan valores negativos.</small>
    <small class="letrasDanger" *ngIf="control?.errors.max">*No se aceptan valores mayores a {{ control?.errors.max.max }}.</small>
</div>