<div class="animated fadeInRight">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ tituloCard }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">{{ modulo }}</a></li>
                        <li class="breadcrumb-item active">{{ titulo }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <ng-container *ngTemplateOutlet="innTemplate">
                <ng-template #innTemplate>
                </ng-template>
            </ng-container>
        </div>
    </section>
</div>